﻿@using mastersproject.Constants
@{
    ViewBag.Title = "Home";
    Layout = Setting.Layout;
}

<h3>Design it well!</h3>
<p>
    This is a sample web application demonstrating good architecture practices and design patterns uses while designing web app in ASP.NET MVC.
</p>
<p>
    Main goal was to create the most effective architecture. 
</p>
<p>
    Codebase available <a href="https://bitbucket.org/SunnyTiger/mastersproject/overview">here</a>.
</p>