﻿@using mastersproject.Constants
@model System.Collections.Generic.IEnumerable<Application.Services.Interfaces.ViewModels.Crm.ClientViewModel>

@{
    ViewBag.Title = "Clients";
    Layout = Setting.Layout;
}

<h2>Clients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(x => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.LastName)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.CompanyName)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Phone)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Address)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Note)
            </td>
        </tr>
    }
</table>