﻿@using Helper
@using mastersproject.Constants
@using mastersproject.Controllers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - ASP.NET - Good architecture</title>
        @Styles.Render(BundleName.CommonStyleBundle)
    </head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Master's", nameof(HomeController.Index), StringHelper.RemoveControllerSufix(nameof(HomeController)), new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Users", nameof(UsersController.Index), StringHelper.RemoveControllerSufix(nameof(UsersController)), new { area = RouteArea.Users}, null)</li>
                <li>@Html.ActionLink("Warehouse", nameof(ProductController.Index), StringHelper.RemoveControllerSufix(nameof(ProductController)), new { area = RouteArea.Products }, null)</li>
                <li>@Html.ActionLink("Clients", nameof(ClientsController.Index), StringHelper.RemoveControllerSufix(nameof(ClientsController)), new { area = RouteArea.Clients }, null)</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2017 - Master's degree app - Adam S. Grzonkowski</p>
    </footer>
</div>

@Scripts.Render(BundleName.JqueryScriptBundle)
@Scripts.Render(BundleName.BootstrapScriptBundle)
@RenderSection("scripts", required: false)
</body>
</html>