﻿@using mastersproject.Constants
@model IEnumerable<Application.Services.Interfaces.ViewModels.Common.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = Setting.Layout;
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(x => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Lastname)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.Username)
            </td>
        </tr>
    }
</table>