﻿@using mastersproject.Constants
@using mastersproject.Controllers
@model Application.Services.Interfaces.ViewModels.Wrh.ProductViewModel

@{
    ViewBag.Title = "Delete";
    Layout = Setting.Layout;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetail.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProductDetail.Model)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", nameof(ProductController.Index))
        </div>
    }
</div>
