﻿@using mastersproject.Constants
@using mastersproject.Controllers
@model System.Collections.Generic.IEnumerable<Application.Services.Interfaces.ViewModels.Wrh.ProductViewModel>

@{
    ViewBag.Title = "Products";
    Layout = Setting.Layout;
}

<h2>Products</h2>

<p>
    @Html.ActionLink(nameof(ProductController.Create), nameof(ProductController.Create))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDetail.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDetail.Color)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(x => item.Name)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.ProductDetail.Model)
            </td>
            <td>
                @Html.DisplayTextFor(x => item.ProductDetail.Color)
            </td>
            <td>
                @Html.ActionLink(nameof(ProductController.Edit), nameof(ProductController.Edit), new { id=item.Id }) |
                @Html.ActionLink(nameof(ProductController.Delete), nameof(ProductController.Delete), new { id=item.Id })
            </td>
        </tr>
    }
</table>